body{
background-color: rgb(67, 67, 67);
display: flex;
flex-direction: column;
min-height:100%;
color: white;

}
*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}
header{
    padding: 2rem 1rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
}
header h1{
    font-size: 2.5rem;
    font-weight: 300;
    margin-bottom: 1rem;
    color: gray;
}
#task_form{
    display: flex;
}
input,button{
    border: none;
    appearance: none;
    outline: none;
    background: none;
}
#new_taskinput{
    flex: 1 1 0%;
    background-color:rgb(6, 26, 26) ;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: lightgrey;
    font-size: 1.25rem;

}
#new_tasksubmit{
    color: rgb(253, 147, 165);
    font-size: 1.25rem;
    font-weight: 700;
    background-image: linear-gradient(to right, rgb(253, 147, 165),purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}
#new_tasksubmit:hover{
    opacity: 0.8;
}
#new_tasksubmit:active{
  opacity: 0.6;  
}
main{
    flex: 1 1 0%;
    padding: 1rem;
    border-radius: 1rem;
    margin-right: 1rem;
    color: lightgrey;
    font-size: 1.25rem;  
}
.task_list{
    padding: 1rem;
}
.task_list h2{
    font-size: 1.5;
    font-weight: 300;
    margin-bottom: 1rem;
    color: gray;
}

#task .task{
   display: flex;
   justify-content: space-between;
   background-color: rgb(0, 10, 10); 
   padding: 1rem;
   border-radius: 1rem;
   margin-bottom: 1rem;
}
#task .task .content .text{
    color: lightgray;
    font-size: 1.25rem;
    width: 100%;
    display: block;
    transition: 0.4s;
}
#task .task .content .text:not(readonly){
color: rgb(253, 147, 165);
}
#task .tast  .action{
  display: flex;  
  margin: 0 --0.5rem;
}
.task .action button{
cursor: pointer;
margin: 0.5rem;
font-size: 1.12rem;
font-weight:700;
text-transform: uppercase;
transition: 0.4s;
}
.task .action button:hover{
    opacity: 0.8;
}
.task .action button:active{
  opacity: 0.6;  
}
.task .action .edit{
    background-image: linear-gradient(to right, rgb(253, 147, 165),purple);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    cursor: pointer;
    transition: 0.4s;
}.task .action .delete{
    color: crimson;
}
.content{
    flex: 1 1 0%;
}